@import url(https://fonts.googleapis.com/css?family=Lobster);

/*nav*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

nav.navbar.navbar-default {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100%;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(17, 17, 17, .5);
}

.navbar-default .navbar-nav>li>a {
    color: #FCFCFC;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #F8512F;
    background-color: rgba(17, 17, 17, .2);
}

/*end of nav*/

/*carousel*/
.carousel {
	margin-bottom: 60px;
}

.slide-one {
	background-image: url(../img/wood-2.jpg);
}

.slide-two {
	background-image: url(../img/restaurant-2.jpg);
}

.slide-three {
	background-image: url(../img/farm-2.jpg);
}

.carousel-inner .item {
	height: 600px;
	background-size: cover;
	background-position: center;
}

.slide-one-logo {
	max-height: 300px;
}

.carousel-caption {
    bottom: 110px;
}

.btn-primary {
    color: #fff;
    background-color: #F8512F;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: #D34326;
    border-color: transparent;
}

.carousel-caption p {
    color: #fff;
    font-size: 17px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.71);
    font-weight: 400;
}
/*end of carousel*/

/*our story*/
#our-story {
    min-height: 600px;
}

#our-story .row {
    margin-top: 30px;
}

#our-story h1 {
    font-family: 'Lobster', cursive;
    color: #F8512F;
    font-size: 85px;
    margin-top: 0;
}

#our-story h2 {
    font-size: 28px;
    margin-top: -15px;
}

#our-story p {
    font-weight: 300;
    font-size: 17px;
}

h3.story-year {
    font-weight: 700;
    font-size: 200px;
    color: rgba(149, 147, 147, .2);
    position: absolute;
    z-index: -1;
}

/*end of our story*/

/*review*/

#review {
    background-image: url(../img/food_review.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 600px;
}

#review .center {
    float: none;
    margin: 0 auto;
    background-color: rgba( 20, 20, 20, .6);
    padding: 10px;
    margin-top: 145px;
    border-radius: 5px;
}

#review h2 {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    color: #F8512F;
    text-shadow: 1px 1px 5px #0a0a0a;
}

#review p {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    text-shadow: 1px 1px 5px #0a0a0a;
}

/*end of review*/

/*menu*/
#menu {
    background-image: url(../img/black_linen.png);
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 40px;
}

.food {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*end of menu*/


















